@use 'variables' as var;
@use 'mixins' as mix;

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee var.$marquee-duration linear infinite;
}

.marquee span {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 100%;
  font-size: 20px;
  text-shadow: 2px 2px 6px var.$shadow-color;
}

@keyframes marquee {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

header .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px;
    background-color: var.$secondary-bg;
  }
  
  .logo {
    max-width: 75px;
    @include mix.border-radius(50%);
    height: auto;
    box-shadow: 5px 5px 10px var.$shadow-color;
  }
  