/* Media query para pantallas medianas (tabletas y pequeñas laptops) */
@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        margin: 5px 0;
        padding: 5px 10px;
        font-size: 14px;
    }

    .titulo {
        font-size: 40px;
    }

    .subtitulo {
        font-size: 18px;
    }

    #main-video-fondo {
        height: auto;
        width: auto;
    }

    .articles-section {
        padding: 5px;
    }

    article {
        margin: 5px 0;
        padding: 10px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-links a {
        font-size: 14px;
    }
}

/* Media query para dispositivos móviles (pantallas más pequeñas) */
@media (min-width:481) and (max-width: 768px) {
    .marquee span {
        padding-left: 50%;
        font-size: 16px;
    }

    .header {
        flex-direction: column;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .titulo {
        font-size: 50px;
    }

    .subtitulo {
        font-size: 20px;
    }

    #main-video-fondo {
        height: auto;
        width: auto;
    }

    .card{
        max-width: 90%;
    }

    .articles-section {
        padding: 10px;
    }

    article {
        margin: 10px 0;
        padding: 10px;
    }

    .expanded-article {
        width: 90%;
        height: auto;
        max-height: 80vh;
        overflow-y: auto;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.7);
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}

/* Desktop (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .titulo {
        font-size: 75px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .nav-links a {
        font-size: 16px;
    }

    .footer-links a {
        font-size: 16px;
    }
}